@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body, html{
  height: 100%;
  margin:0;


  font-family: 'Indie Flower', cursive;
}
* {
  box-sizing: border-box;
}
.bg-image {
  height:80% ;
}

.difcolor{
  background-color: #fff;
  height: auto;
  padding: 100px 100px;
}

.img1 { background: url("https://cdn.pixabay.com/photo/2019/03/31/22/46/forest-4094246_1280.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
        }
.img2 { background-image: url("img2.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;}
.img3 { background-image: url("https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_1280.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
